<main class="content">
  <mat-toolbar color="primary">
    ADMINSSIONS
  </mat-toolbar>

  <div class="card">
    <p-toolbar>
      <ng-template #start>
        <p-button label="Register Learner" [raised]="true" severity="info" (click)="registerLearner()" />
        <p-divider />
        <p-button label="Admissions Register" [raised]="true" severity="secondary"
          (click)="handleAdmissionRegister()" />
        <p-divider />
        <p-button label="Withdrawn" [raised]="true" severity="primary" (click)="op.toggle($event)" />
        <p-divider />
        <p-button label="Confirm Admission" [raised]="true" severity="help" (click)="confirmAdmission()" />
        <p-divider />
        <p-button label="Admission Letters" [raised]="true" severity="success" />
      </ng-template>
      <ng-template #center>

      </ng-template>
      <ng-template #end>

      </ng-template>
    </p-toolbar>
  </div>
  <div class="card">
    <p-popover #op>
      <p-button label="Process Withdrawal" [raised]="false" severity="primary" variant="text" (click)="handlesWithdrawals()" />
       <p-divider />
      <p-button label="Authourise Withdrawal" [raised]="false" severity="primary" variant="text"  (click)="handlesWithdrawnList()" />
       <p-divider />
      <p-button label="Withdrawn Learners" [raised]="false" severity="primary" variant="text" (click)="handlesListofWithdrawals()" />
    </p-popover>
  </div>
</main>