section{
    display: flex;
    label{
        font-size: clamp(1rem,1.5rem,2rem);
        border-bottom: 1px dotted lightgray;
        padding: 10px;
    }
    label:first-child{
        width: 30%;
    }
}