<mat-toolbar>
    Find Staff
</mat-toolbar>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Enter Staff ID</mat-label>
        <input matInput [(ngModel)]="staffId">
    </mat-form-field>
</mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button matRipple (click)="dialogRef.close(false)" color="primary">
            Close
        </button>
        <button  mat-button matRipple color="primary" (click)="submit()">
            Submit
        </button>
    </mat-dialog-actions>
