.academic-data{
display: flex;
margin: 10px auto;
max-width: calc(100% - 30%);
min-width: calc(100% - 70%);
width: calc(100% - 30%);
border-radius: .3em;
box-shadow: 0px 0px 5px 2px lightgrey;
padding: 10px;
background-color: rgb(4, 47, 88);
}
.bill-id-h{
    display: flex;
margin: 10px auto;
max-width: calc(100% - 40%);
min-width: calc(100% - 80%);
width: calc(100% - 40%);
border-radius: .3em;
/* box-shadow: 0px 0px 5px 2px lightgrey; */
/* padding: 10px; */
/* background-color: rgb(4, 47, 88); */
}
.bill-id{
    display: flex;
margin: 10px auto;
width: calc(100% - 50%);
border-radius: .3em;
padding: 10px;
background-color: rgb(4, 47, 88);
}
.bill-in-data{
    padding: 0px;
    max-width: calc(100% - 3%);
min-width: calc(100% - 80%);
width: calc(100% - 0%);
border-radius: .3em;
margin: 20px;
display: flex;
div{
    label{
        margin-right: 10px;
        color: rgb(4, 47, 88);;
    }
    
 .data-input {
        width: calc(100% - 30%);
        font-size: clamp(1vw,1.5vw,1.8vw);
    }
}
.toggle-sw{
    width: 100%;

}
.toggle-sw-1{
      width: 50%;  
}
}
.id{
    margin-left: 20px;
    color: rgb(4, 47, 88);;;
}

.bill-id{
    display: flex;
margin: 10px auto;
width: calc(100% - 50%);
border-radius: .3em;
padding: 10px;
background-color: rgb(4, 47, 88);
}
.bill-id-h1{
    border: 1px solid lightgray;
    padding: 10px;
    max-width: calc(100% - 3%);
min-width: calc(100% - 80%);
width: calc(100% - 0%);
border-radius: .3em;
margin: 20px;
display: flex;
    label{
        margin-right: 10px;
        color: rgb(4, 47, 88);;
    }
    
 .data-input {
        width: calc(100% - 30%);
        font-size: clamp(1vw,1.5vw,1.8vw);
    }
}
.toggle-sw{
    width: 40%;
}
.toggle-sw-1{
      width: 50%;  

}


tr{
   font-size: clamp(.5vw,1vw,1.8vw);   
}
.h-d{
    border:1px solid blueviolet;
    display: flex;
    flex: auto;
}
