.content {
    padding: auto;
    margin: 10px;
    background-color: azure;
    border-radius: .3rem;
    box-shadow: 0px 0px 15px 1px lavender;
    height: calc(100vh);
    overflow-y: scroll;
}

header {
    background-color: rgb(5, 37, 65);
    color: whitesmoke;
    padding: 10px;
}

h1 {
    margin: 0;
    padding: auto;
}

mat-toolbar {
    background-color: rgb(9, 97, 97);
    color: whitesmoke;
}

p {
    text-align: justify;
}

.primary {
    background-color: rgb(2, 25, 44);
    border: none;
    outline: none;
    border-radius: .3em;
    color: whitesmoke;
    padding: .5rem;
    box-shadow: 0px 0px 15px 2px lightgrey;
    cursor: pointer;
}