<mat-toolbar>
    ADMISSION POLICY
</mat-toolbar>
<mat-dialog-content class="content mat-typography">
    <header>
        <h1>Priorities</h1>
        </header>
        <p>Admission is offered to newly evaluated applicants, based on thier creditable performance in entrance examinaton and social readiness</p>
        <hr>
        <header>
            <h1>Applications</h1>
            </header>
            <p>Apart from Creche, application forms for Kinderdergarten (KG) through JHS (F1) available. Beanconhill Academy does not enroll learners in JHS (F2) and (F3). Parents may pick up an application forms at the school premisses or visit <a>https://www.beaconhillacademy.edu.gh/admissions</a></p>
            <hr>
        <header>
            <h1>Entrance Examination</h1>
        </header>
        <p>In exception of Nursery and Creche, all applicants are given specified schedules for competetive entrances examination. This is followed by interviews sections for both prospective (learner(s)) and thier parents/guardians, to determin academic rediness of learners, commitment and ability to meet the needs of the applicants (Parents.Guardians)</p>
        <hr>
        <header><h1>Placement in a Class</h1></header>
        <p>Placement of an applicant in a particular class is determined by his/her age as at Septemer 1, of the Academic year.<br>However, from K-1 to JHS (F1), placement can be determined by the applicant performance in the entrance examination. <br>If applicants performance in the extrance examination does not meet the specified requirement against the Grade his/her parents selected on the admission form, the respected applicant may be droped to a lower Grade</p>
        <hr>
        <header>
            <h1>Special Needs for Learners</h1>
        </header>
        <p>Beaconhill Academy <b>does not</b> have specialized facilities or personnel to work with learners who have significant learners differences. The school will evaluate learners with learning differences on a case - by - case baisis with respect to the school's ability to provide those learners a quality education. <br>The school may deny enrollment to a learner if it determines, at its sole discression that it cannot adequately serve the needs of an applicant.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
<button mat-button class="primary" (click)="startApplication()">Continue</button>
</mat-dialog-actions>