.header-lbl{
    background-color: rgb(1, 55, 117);
    margin: 10px;
    padding: 10px;
    border-radius: .3em;
    color: white;
    box-shadow: 0px 0px 5px 2px lightgrey;
    font-size: clamp(.5vw,1vw,1.5vw);

}
.learner-name{
     background-color:royalblue;
    margin: 10px;
    padding: 10px;
    border-radius: .3em;
    color: white;
    box-shadow: 0px 0px 5px 2px lightgrey;
    font-size: clamp(.5vw,1vw,1.5vw);

}