mat-toolbar{
    background-color: rgb(3, 119, 113);
    color: whitesmoke;
}
div{
    border: 1px solid rgb(3, 119, 113);;
    border-radius: .3em;
    box-shadow: 0px 0px 15px 2px grey;
    padding: 10px;
    margin: 20px;
    
}
header{
    padding: 10px;
    border-bottom: 1px solid rgb(3, 119, 113);
    display: flex;
}
span{
    display: block;
    width: calc(100% - 30%);
}
mat-slide-toggle{
    margin-right: 10px;
}

mat-dialog-actions{
    background-color: rgb(151, 151, 151);
}
button{
    width: auto;
    border-radius: .3em;
    padding: 10px;
    border: 0px;
    outline: none;
    transition: 1s;
    background-color: rgb(3, 124, 104);
    color: whitesmoke;
}
button:hover{
    background-color: rgb(237, 241, 243);
    color: rgb(6, 79, 151);
}
section{
    display: flex;
    padding: 5px;
}
label,mat-checkbox{
width: calc(100% - 40%);

}
section:nth-child(even){
    background-color: aquamarine;
}
section:nth-child(odd){
    background-color: azure;
}

