mat-toolbar{
    background-color: rgb(3, 94, 97); ;
    color:whitesmoke
}
button{
    width: auto;
    border-radius: .3em;
    padding: 10px;
    border: 0px;
    outline: none;
    transition: 1s;
}
button:last-child{
    background-color: rgb(3, 68, 124);
    color: whitesmoke;
}
button:first-child{
    background-color: rgb(3, 124, 104);
    color: whitesmoke;
}
button:hover{
    background-color: rgb(237, 241, 243);
    color: rgb(6, 79, 151);
}
button:first-child:hover{
    background-color: rgb(124, 3, 3);
    color: whitesmoke;
}
mat-dialog-actions{
    background-color: rgb(151, 151, 151);
}
mat-form-field{
 
    width: calc(100% - 1%);
    input{
          font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
    }
}