<mat-toolbar color="primary" class="dialog-header">
  <mat-toolbar-row>
     <div class="flex-auto">
        <p-avatar shape="circle" class="mr-2" size="xlarge" mb-4 image="assets/img/divine.png" />
      </div>
    <span class="title-center">Forgot Password</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="dialog-body mat-typography">
  <form [formGroup]="forgotPasswordForm" class="form-container">
    <div class="form-row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" type="email" placeholder="e.g. name@example.com" required>
        
        @if (forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid) {
          <mat-error>
            @if (forgotPasswordForm.controls.email.errors.required) {
              <span>This field is mandatory</span>
            }
            @if (forgotPasswordForm.controls.email.errors.pattern) {
              <span>Please enter a valid email address</span>
            }
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center" class="dialog-actions">
  <button mat-flat-button color="primary" type="submit" (click)="handleSubmit()"
          [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
    Send Password
  </button>
  <button mat-stroke-button mat-dialog-close>Close</button>
</mat-dialog-actions>