<main class="main">
    <div class="content">
      <nav class="navigation-items">
        <menu>
          <li>Staff Mail</li>
          <li>Student Mail</li>
          <li>OSIS</li>
          <li>Library</li>
          <li>VLE</li>
          <li>Fee Schedule</li>
      </menu>
        <menu id="signup-login">
          <li><a (click)="signupAction()">Signup</a></li>
          <li><a (click)="forgotPasswordAction()">Forgot Password</a></li>
          <li><a (click)="loginAction()">Login</a></li>
        </menu>
    </nav>
    <nav class="navigation-items">
      <img id=beacon src="assets/img/Beacon.png" alt="logo">
      <menu>
        <li>About</li>
        <li>Academics</li>
        <li>Admissions</li>
        <li>Students</li>
        <li>Staff</li>
        <li>Research</li>
        <li>Alumni</li>
      </menu>
     
    </nav>
      <hr/>
  
      <div class="carousel-container">
        <img src=""  alt="no carousel">
      </div>
      
    </div>
  </main>
  
 
  

  