mat-toolbar{
    background-color:rgb(228, 232, 236) ;
    color:rgb(5, 46, 87) ;
    font-weight: bolder;

} 
#mattoolbar-2{
  padding: 5;
  font-size: 1.0vw;
}
mat-sidenav{
    margin: 1px;
    width: calc(30vw);
   border-right:none ;
   border-radius: .2em;
   background-color:rgb(240, 243, 247) ;
padding: 5px;
text-align: left;
}
@media (max-width: 800px){
  mat-sidenav{
    width: calc(80vw);
   
  }
  #sidenavDetails{
    position: absolute;
    left: 0%;
  }
  input{
    font-size: 2vw;
  }
  mat-label{
    font-size: 3vw;
  }
#header{
  display: none;
}
}
mat-sidenav-container{
    height: calc(100vh - 65px);
}
.content{
  /* height: calc(100vh - 98px); */
  margin: 5px;
  margin-left: 5px; 
  justify-items: center;
width: calc(100% - 1%);
   font-size: 1rem;
   color: lightgrey;
   border-radius: .2em;
}
mat-icon, span{
    margin-right: 8px;
    color: whitesmoke;
}
.btn-toggle{
  background-color: rgb(9, 125, 226);
    color: rgb(248, 245, 245);
    font-size: 1.5vw;
    outline: none;
    border: 0px;
    border-radius: .3em;
    float: right;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 5px lightgrey;
}
.btnSubmit{
    border: 0;
    outline: none;
    background-color: rgb(4, 36, 65);
    color: whitesmoke;
    max-width: calc(100% - 60%);
    width: 40%;
    box-shadow: 0px 0px 15px 2px grey;
    padding: 5px;
    position: relative;
    left: calc(100% - 60%);
    cursor: pointer;
}
button{
    padding:2px;
    margin:1px;
    outline: none;
    border: 0;
    width:auto;
    background-color: transparent;
    color: rgb(14, 172, 9);
  }
  .btn-style{
    display: flex;
    /* flex: 1; */
  }
  button,span{
    display: inline-block;
  }
.icon-view{
    color: rgb(5, 46, 85);
  }

 .icon-delete{
  color: rgb(14, 172, 9);
  }
    table{
        width: 100%;
        flex: 1;
    }
    mat-form-field,mat-label,hr{
      display: inline-block;
      flex: 1;
      width: 100%;
      font-size: 1.5vw;
      margin: 1px;
    }
    #guardian-h-s{
      background-color: rgb(155, 156, 156);
      color: rgb(5, 46, 85); 
      padding: 2px;
      flex: 1;
      overflow: hidden;
    
    }
    #add-reg{
      cursor: pointer;
      transition: 1s;
    }
    #add-reg:hover{
      background-color: aliceblue;
      border-bottom: 1px solid lightgreen;
      box-shadow: 0px 0px 10px 3px lightgray;
      color: rgb(5, 46, 85); 
      padding: 5px;

    }
    span{
      color:rgb(5, 46, 85);  
      width: calc(100% - 20%);
      margin-right: 1rem;
    }
    #search-form-field{
      margin-top: 15px;
      border-radius: 15px;
      display: flex;
      flex: 1;
    }
    mat-dialog-actions{
      background-color: rgb(5, 46, 87) ;
    }
    .btn-close{
      font-size: clamp(1rem,1.5em,2rem);
      color: whitesmoke;
      cursor: pointer;
    }